body{ 
	margin: 5ex;
	background: rgb(255, 255, 240);
	font-family: "MS US Gothic";
}

h1{
	font-size: x-large;
}

h2{
	font-size: large;
}

h3{
	font-size: midium;
}

.center{
	text-align: center;
}

div.topic{
	font-weight: bold;
	font-size: large;
	margin-top: 2ex;
	margin-bottom: 2pt;
}

.qanda{
	font-weight: bold;
}

.syntax{
	font-weight: bold;
}

font.new{
	font-weight: bold;
	font-size: smaller;
	color: teal;
}

ul {
	margin-top: 0pt;
	margin-bottom: 0pt; 
}

dt {
	font-weight: bold;
	font-style: normal;
	border-color: #FFCC33;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-width: 0px 0px 1px 0px;
}

li.history {
	margin-bottom: 1em;
}

.no-marker{
	list-style-type: none;
}

pre {
	font-size: smaller;
	white-space: pre;
	background: #ffffff;
	padding: .5ex;
}

.warning{
	color: #ff0000;
}

.notice{
	color: #0000ff;
}

img{
	boarder: 0px;
}

.img{
	margin: 1ex;
}

.code{
	font-family: Courier;
	color: #0000ff;
}

.variable{
	font-weight: 900;
	color: #0000ff;
}
