#include "..\common\tt_res16.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_TTERM               ICON    DISCARDABLE     "..\\common\\tterm16.ico"
IDI_VT                  ICON    DISCARDABLE     "..\\common\\vt16.ico"
IDI_TEK                 ICON    DISCARDABLE     "..\\common\\tek16.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PRNABORTDLG DIALOG DISCARDABLE  20, 20, 71, 43
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Tera Term"
FONT 10, "System"
BEGIN
    CTEXT           "Printing",-1,17,7,37,12
    DEFPUSHBUTTON   "Cancel",2,14,22,42,14
END

IDD_FILETRANSDLG DIALOG DISCARDABLE  20, 20, 176, 73
STYLE WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CLASS "FTDlg"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "Close",2,18,48,40,14
    PUSHBUTTON      "Pau&se",IDC_TRANSPAUSESTART,68,48,40,14
    PUSHBUTTON      "&Help",IDC_TRANSHELP,118,48,40,14
    CONTROL         "Filename:",-1,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,15,
                    12,38,10
    RTEXT           "",IDC_TRANSFNAME,97,12,64,10,SS_NOPREFIX
    CONTROL         "Bytes transfered:",-1,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,15,28,76,10
    RTEXT           "",IDC_TRANSBYTES,97,28,64,10
END

IDD_PROTDLG DIALOG DISCARDABLE  20, 20, 142, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
FONT 10, "System"
BEGIN
    LTEXT           "Filename:",-1,12,8,40,8
    RTEXT           "",IDC_PROTOFNAME,64,8,66,8,SS_NOPREFIX
    LTEXT           "Protocol:",-1,12,18,40,8
    RTEXT           "",IDC_PROTOPROT,56,18,74,8
    LTEXT           "Packet#:",-1,12,27,40,8
    RTEXT           "",IDC_PROTOPKTNUM,90,27,40,8
    CONTROL         "Bytes transfered:",-1,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,12,37,70,8
    RTEXT           "",IDC_PROTOBYTECOUNT,90,37,40,8
    RTEXT           "",IDC_PROTOPERCENT,90,47,40,8
    DEFPUSHBUTTON   "Cancel",2,56,58,30,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New connection...\tAlt+N",   ID_FILE_NEWCONNECTION
        MENUITEM SEPARATOR
        MENUITEM "&Log...",                     ID_FILE_LOG
        MENUITEM "&Send file...",               ID_FILE_SENDFILE
        POPUP "&Transfer"
        BEGIN
            POPUP "&Kermit"
            BEGIN
                MENUITEM "&Receive",                    ID_FILE_KERMITRCV
                MENUITEM "&Get...",                     ID_FILE_KERMITGET
                MENUITEM "&Send...",                    ID_FILE_KERMITSEND
                MENUITEM "&Finish",                     ID_FILE_KERMITFINISH
            END
            POPUP "&XMODEM"
            BEGIN
                MENUITEM "&Receive...",                 ID_FILE_XRCV
                MENUITEM "&Send...",                    ID_FILE_XSEND
            END
            POPUP "&ZMODEM"
            BEGIN
                MENUITEM "&Receive",                    ID_FILE_ZRCV
                MENUITEM "&Send...",                    ID_FILE_ZSEND
            END
            POPUP "&B-Plus"
            BEGIN
                MENUITEM "&Receive",                    ID_FILE_BPRCV
                MENUITEM "&Send...",                    ID_FILE_BPSEND
            END
            POPUP "&Quick-VAN"
            BEGIN
                MENUITEM "&Receive",                    ID_FILE_QVRCV
                MENUITEM "&Send...",                    ID_FILE_QVSEND
            END
        END
        MENUITEM "&Change directory...",        ID_FILE_CHANGEDIR
        MENUITEM SEPARATOR
        MENUITEM "&Print...\tAlt+P",            ID_FILE_PRINT2
        MENUITEM SEPARATOR
        MENUITEM "&Disconnect",                 ID_FILE_DISCONNECT
        MENUITEM "E&xit\tAlt+Q",                ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy\tAlt+C",                ID_EDIT_COPY2
        MENUITEM "Copy &table",                 ID_EDIT_COPYTABLE
        MENUITEM SEPARATOR
        MENUITEM "&Paste\tAlt+V",               ID_EDIT_PASTE2
        MENUITEM "Paste<C&R>\tAlt+R",           ID_EDIT_PASTECR
        MENUITEM SEPARATOR
        MENUITEM "Clear &screen",               ID_EDIT_CLEARSCREEN
        MENUITEM "Clear &buffer",               ID_EDIT_CLEARBUFFER
    END
    POPUP "&Setup"
    BEGIN
        MENUITEM "&Terminal...",                ID_SETUP_TERMINAL
        MENUITEM "&Window...",                  ID_SETUP_WINDOW
        MENUITEM "&Font...",                    ID_SETUP_FONT
        MENUITEM "&Keyboard...",                ID_SETUP_KEYBOARD
        MENUITEM "Serial &port...",             ID_SETUP_SERIALPORT
        MENUITEM "T&CP/IP...",                  ID_SETUP_TCPIP
        MENUITEM "&General...",                 ID_SETUP_GENERAL
        MENUITEM SEPARATOR
        MENUITEM "&Save setup...",              ID_SETUP_SAVE
        MENUITEM "&Restore setup...",           ID_SETUP_RESTORE
        MENUITEM SEPARATOR
        MENUITEM "&Load key map...",            ID_SETUP_LOADKEYMAP
    END
    POPUP "C&ontrol"
    BEGIN
        MENUITEM "&Reset terminal",             ID_CONTROL_RESETTERMINAL
        MENUITEM SEPARATOR
        MENUITEM "Are you &there\tAlt+T",       ID_CONTROL_AREYOUTHERE
        MENUITEM "&Send break\tAlt+B",          ID_CONTROL_SENDBREAK
        MENUITEM "Reset &port",                 ID_CONTROL_RESETPORT
        MENUITEM SEPARATOR
        MENUITEM "&Open TEK",                   ID_CONTROL_OPENTEK
        MENUITEM "&Close TEK",                  ID_CONTROL_CLOSETEK
        MENUITEM SEPARATOR
        MENUITEM "&Macro",                      ID_CONTROL_MACRO
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Index",                      ID_HELP_INDEX2
        MENUITEM "Using &help",                 ID_HELP_USING2
        MENUITEM SEPARATOR
        MENUITEM "&About Tera Term...",         ID_HELP_ABOUT
    END
END

IDR_TEKMENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Print...\tAlt+P",            ID_TEKFILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+Q",                ID_TEKFILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy\tAlt+C",                ID_TEKEDIT_COPY
        MENUITEM "Copy &screen",                ID_TEKEDIT_COPYSCREEN
        MENUITEM "&Paste\tAlt+V",               ID_TEKEDIT_PASTE
        MENUITEM "Paste<C&R>\tAlt+R",           ID_TEKEDIT_PASTECR
        MENUITEM SEPARATOR
        MENUITEM "C&lear screen",               ID_TEKEDIT_CLEARSCREEN
    END
    POPUP "&Setup"
    BEGIN
        MENUITEM "&Window...",                  ID_TEKSETUP_WINDOW
        MENUITEM "&Font...",                    ID_TEKSETUP_FONT
    END
    MENUITEM "VT-wind&ow",                  ID_TEKVTWIN
    POPUP "&Help"
    BEGIN
        MENUITEM "&Index",                      ID_TEKHELP_INDEX
        MENUITEM "Using &help",                 ID_TEKHELP_USING
        MENUITEM SEPARATOR
        MENUITEM "&About Tera Term...",         ID_TEKHELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACC ACCELERATORS DISCARDABLE 
BEGIN
    "B",            ID_ACC_SENDBREAK,       VIRTKEY, ALT, NOINVERT
    "C",            ID_ACC_COPY,            VIRTKEY, ALT, NOINVERT
    "N",            ID_ACC_NEWCONNECTION,   VIRTKEY, ALT, NOINVERT
    "P",            ID_ACC_PRINT,           VIRTKEY, ALT, NOINVERT
    "Q",            ID_ACC_EXIT,            VIRTKEY, ALT, NOINVERT
    "R",            ID_ACC_PASTECR,         VIRTKEY, ALT, NOINVERT
    "T",            ID_ACC_AREYOUTHERE,     VIRTKEY, ALT, NOINVERT
    "V",            ID_ACC_PASTE,           VIRTKEY, ALT, NOINVERT
END
